*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: #f1f1f1;
    cursor: pointer;
}

/* Variables */
:root{
    --grey-color:rgba(34, 33, 33, 0.856);
    --bg-color:#fdfdfd;
    --text-color: #333;
    --main-color:#0099ff;
    --white-color: #fdfdfd;
    --shadow-color: rgba(0,0,0, .2);
    --black-color:#000;
    --white-color:#ffff;
    --gra-color:rgb(0, 153, 255);
    --section-color:#111111;
    --s-linguage-color:#1e1e1ee3;
    --sobre-color:#383838;
    --cor-color:chartreuse;
}

/* Content */
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    background-color: var(--bg-color);
    color: var(--white-color);
    overflow-x: hidden;
}

/*Estilização dos menus laterais e identificação*/
/* Header */

.identication-left, .identication-right{
    height: 100%;
    color: var(--white-color);
    background-color: var(--gra-color);
    color: var(--black-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.identication-left{
    position: fixed;
    left: 0;
    width: 5vh;
}

.identication-right{
    position: fixed;
    right: 0;
    width: 5vh;
    background-color: var(--cor-color);
}

.identication-left .identication{ 
    transform: rotate(270deg);
    display: flex;
    font-size: 2.2rem;
    font-weight: bold;
    color: #000000;
    opacity: 0.4;
}

.identication-left .identication::after, .identication-left .identication::before{ 
    content:"|";
    padding: 0 2rem;
}   


.identication-right .identication{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    gap: 5rem;
}

#identication {
    transition: all 0.3s;
}
  

.bx-menu{
    position: absolute;
    top:0;
    padding: 20px 0;
}

.identication-right .identication i{
   font-size: 3rem;
   color: var(--grey-color);
}


.identication-right .identication a{
    transform: scale(1.2);
    transition: all 0.3s;
    color: #000000;
    opacity: 0.4;
}

.identication-right .identication a:hover{
    transform: scale(1.5);
    opacity: 10;
}


.identication-right .identication a::after{
    content: "";
    width: 1.5rem;
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Section main*/

.logo{
    font-size:3rem;
    color: var(--main-color);
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 0;
    margin-top: 3rem;
}

section{
    min-height: 97vh;
}

footer{
    min-height: 20vh;
}

#home{
    background-color: var(--section-color);
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#home .home-content {
    max-width: 50%;
    padding: 10px;
    display: flex;
    text-align: center;
    margin-top: 20px;
    justify-content: center;
}

.home-content h3{
    font-size: calc(3.2vw + 0.8rem);
    font-weight: 700;
    line-height: .9;
}

.home-content h1{
    font-size:3.2rem;
    font-weight: bold;
}

.home-content p{
    font-size: 1.6rem;
}
.home .info-person{
    margin-top: 6rem;
}

/* Photo*/
.home-content .info-person p{
    font-size: 1.5rem;
    margin-top: 2rem;
    text-align: justify;
    color: grey;
    text-align: center;
}

.home-content .info-person .description{
    padding: 0 0 5rem 0;
}

.home-content .info-person h3{
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 2rem;
}
.home-content .intro{
    padding: 0 0 10px 0;
    font-size: 2rem;
    color: var(--main-color);
}

.home-content .info-person .background-name{
    font-size: 10rem;
    position: absolute;
    top:20vh;
    z-index: 0;
    border: 1px solid red;
}

.home-content .info-person h4{
    font-size: calc(1vw + 1rem);
    color: var(--main-color);
    display: inline;
    padding: 0 7px 0 0 ;
}

.home-content .social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 0 .2rem .5rem var(--black-color);
    font-size: 2rem;
    color:var(--main-color);
    margin:2.5rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.home-content .social-media a:hover{
    background-color: var(--main-color);
    box-shadow: 0 .1rem .3rem var(--black-color) inset;
    color: var(--white-color);
}

#linguage{
    width: 100%;
    min-height: 10vh;
    background-color: var(--s-linguage-color);
    display: flex;
    align-items: center;
    justify-content: center;
   
}

#linguage .linguage-content{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}

#linguage i{
    color: #FFF;
    font-size: calc(3vw + 1.4rem); 
}

.ajax{
    display: flex;
    gap: 2rem;
    font-size: calc(.6vw + 1.3rem);
    justify-content: center;
    align-items: center;
}
.ajax a{
    opacity: 0.4;
    transition: all 0.3s;
    scale: 1;
}

.ajax a:hover{
    opacity:0.9;
    scale: 1.1;
}

.state{
    color: var(--gra-color);
}

.content{
   text-align: center;
}

#about{
    background-color: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_content{
    max-width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    flex-direction: column;
    margin: 0 auto;
    padding:2rem;
    margin-top: 0.9rem;
    border-radius: 20px;
}



.card-content{
    font-size: 1.2rem;
    padding: 2rem;
    width: 100%;
    opacity: 0.7;
    scale: 1;
    transition: all 0.2s;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    margin: 1.5rem 0 1.5rem 0;
}

.card-content:hover{
    opacity: 1;
    scale:1.1;
}
.card-content h2{
    font-size: 1.7rem;
}

.card-box{
    display: flex;
    justify-content: space-between;
    gap: 0.7rem;
    padding: 1rem 0 1rem 0;
}
.link{
    text-align: right;
    padding: 1rem;
}

.status{
    color: var(--cor-color);
}

.btn-download{
    cursor: pointer;
    padding: 0.8rem;
    background-color: var(--grey-color);
    width: 11vh;
    border-radius: 7px;
    margin: 0 auto;
    transition: all 0.5s;
}

.btn-download:hover{
    background-color: var(--bg-color);
    color: var(--black-color);
    border-radius: 0px;
}

.about_content .img{
    background-image: url(../img/photo.jpg);
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.name{
    text-align: center;
    color: var(--cor-color);
}

.download{
    padding-top: 2rem;
    text-align: center;
}

.title-section{
    width: 100%;
    text-align: right;
    font-size: calc(.6vw + 1.2rem);
    padding: 2rem;
}

.title-section p{
    padding: 0.5rem;
    display: inline;
    opacity: 0.3;
    font-family: 'Tilt Warp', cursive;
}

#about h3{
    padding: 40px;
    font-size: 3rem;
}

.about_texts{
    font-size: calc(.3vw + 1.2rem);
    max-width: 30%;
}

.about_texts h4{
    font-size: calc(.5vw + 1.2rem);
}

.container{
    margin-top: 20px;
    display: flex;
    max-width: 50%;
    /*flex-wrap: wrap;*/
    /*justify-content: space-between;*/
    gap: 30px;
}   

#project{
    display: flex;
    background-color: var(--section-color);
    color: #ffff;
    justify-content: center;
}

.project_container{
    max-width: 60%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

#project .box{
    text-transform: capitalize;
    flex-basis: calc(24% - 8px);
}

.box a{
    display: flex;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    display: inline;
    background-color: #363636;
    border-radius: 100%;
    transition: all 0.4s;
}

.box a:hover{
    color: black;
    background-color: #7fff00;
}

.box{
    scale: 1.2;
}

.box:hover{
    transition: all 0.5s;
    scale: 1.4;
}

footer{
    font-size: 4rem;
    padding: 2rem;
    gap: 40px;
    background-color: var(--s-linguage-color);
}

footer .social-media{
    width: 80%;
    gap: 30px;
}


#contato{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contato > *{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 60%;
    font-size: calc(.6vw + 1.2rem);
    padding: 10px;
    gap: 30px;
}

#contato #social_menu{
    margin-top: -35px;
}

#copy{
    margin-top: -35px;
    font-size: 1.8rem;
    opacity: 0.4;
    text-align: center;
}

#contato #social_media a i{
   color: #ffffff;
   background-color: #000;
   padding: 15px;
   border-radius: 100%;
   font-size: 3rem;
   transition: all 0.5s;
   scale: 0.9;
}

#contato #social_media a i:hover{
    color: #000000;
    background-color: #ffffff;
    scale: 1.1;
}



#contato #social_menu a {
    color: var(--bg-color);
    transition: all 0.5s;
 }
 
 #contato #social_menu a:hover{
     color: var(--main-color);
 }


.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: 2rem;
    background-color: var(--main-color);
    border-radius: 0 50px 50px 0;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size:1.6rem;
    color:var(--white-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover{
    background-color: transparent;
    color: var(--main-color);
    box-shadow: 0 .2rem .5rem var(--black-color);
}


.color-fg-default {
    color: var(--bg-color) !important;

    border: 3px solid red;
}

.octicon {
    fill: currentColor;
    width: 32px;
}

.languages{
    color: var(--cor-color);
    margin-left: 10px;
}

/* animação de escrever */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
  
/* animação de cursor */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #7fff00 }
}

::-webkit-scrollbar {
    width: 10px;

}
   
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}
   
::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius: 10px 10px; 
}

.typewriter h4{

    overflow: hidden;
    border-right: .15em solid #7fff00; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: 1; 
    animation: typing 3s steps(30, end), blink-caret .75s step-end infinite;
}

@media (max-width: 710px) {
    .project_container {
      grid-template-columns: repeat(2, 1fr);
    }

    .about_content{
        max-width: 60%;
        text-align: justify;
        gap: 20px;
        padding-top: 10px;
    }

    .ajax{
        gap: 1rem;
        font-size: calc(.6vw + 1.5rem);
        flex-direction: column;
        width: 40%;
        margin: 0 auto;
    }
    .ajax a{
        margin:0 auto 0 0;
    }

    .about_texts{
        font-size: calc(.2vw + 0.9rem);
        max-width: 100%;
        max-height: 20%; 
    }

    .btn{
        padding: 1rem;
        margin-top: -1rem;
    }
    .name{
        margin-top: -1rem;
        margin-bottom: 1rem;
    }

    .about_content .img{
        width: 70px;
        height: 70px;
    }

    .card-content{
        width: 120%;
        margin: -0.2rem 0 -0.2rem 0;
    }
    .card-content h2{
        font-size: 1.2rem;
    }

}


@media (max-width: 400px) {
    .project_container {
      grid-template-columns: repeat(2, 1fr);
    }

    .btn-download{
        width: 13vh;
    }

    .about_content{
        max-width: 60%;
        text-align: justify;
        gap: 20px;
        padding-top: 10px;
    }

    .ajax{
        gap: 1rem;
        font-size: calc(.4vw + 1.3rem);
        flex-direction: column;
        width: 40%;
        margin: 0 auto;
    }
    .ajax a{
        margin:0 auto 0 0;
    }

    .about_texts{
        font-size: calc(.4vw + 0.7rem);
        max-width: 100%;
        max-height: 20%; 
    }

    .btn{
        padding: 1rem;
        margin-top: -1rem;
        font-size:0.8rem;
    }
    .name{
        margin-top: -1rem;
        margin-bottom: 1rem;
    }

    .about_content .img{
        width: 50px;
        height: 50px;
    }
    .download{
        padding-top: 1rem;
        text-align: center;
    }
}


#teste

.timeline {
  width: 10%;
  border: 1px solid red;
  height: auto;

  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.timeline-content {
  background: #302f2f;
  -webkit-box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
          box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
  border-radius: 5px;
  color: white;
  transition: 0.4s ease;
  overflow-wrap: break-word !important;
  margin: 1rem;
  margin-bottom: 20px;
  border-radius: 6px;
  padding: 2rem;
}

.timeline-content h6{
    font-size: 1.5rem;
  }

.timeline-component {
  margin: 0px 20px 20px 20px;
}

@media screen and (min-width: 768px) {
  .timeline {
    display: grid;
    grid-template-columns: 1fr 2px 1fr;
  }
  .timeline-middle {
    position: relative;
    background-color: #0099ff;
    width: 3px;
    height: 100%;
  }
  .main-middle {
    opacity: 0;
  }
  .timeline-circle {
    position: absolute;
    top: 0;
    left: 50%;
    width: 15px;
    height: 15px;
    background-color: #0099ff;
    border-radius: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
